
/* Fog Container */
.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Allows interaction with elements below */
  z-index: -99;
}

/* Fog Layers */
.fog {
    transform: scaleY(-1);
    position: absolute;
    image-rendering: pixelated;
    width: 220%;
    height: 200%;
    background: url("../img/fog2.webp") repeat-x;
    background-size: cover;
    opacity: 1;
    animation: fog-animation-l 40s linear infinite;
}
.fog-map {
    position: absolute;
    image-rendering: pixelated;
    width: 230%;
    height: 180%;
    background: url("../img/fog2.webp") repeat-x;
    background-size: cover;
    opacity: .8;
    animation: fog-animation-r 60s linear infinite;
}

/* Adjust Multiple Fog Layers for Depth */
.fog:nth-child(1) {
  top: -20%;
  left: -20%;
  opacity: 0.444;
  animation-duration: 25s;
}

.fog:nth-child(2) {
  top: -10%;
  left: -10%;
  opacity: 0.333;
  animation-duration: 35s;
}

.fog:nth-child(3) {
  top: -10%;
  left: -10%;
  opacity: 0.222;
  animation-duration: 50s;
}

/* Fog Animation */
@keyframes fog-animation-l {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
  }
  @keyframes fog-animation-r {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
  }
