
.top {
    z-index: 9988 !important;
}

body {
    color: white;
    background-color: black;
    cursor: url('../img/cursor_open.png'), default ;    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;

	overflow: hidden;
	padding: 100px 0;
	background: #020847;

    /* dont smooth pixels */
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* For some browsers */
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;

    font-family: 'Press Start 2P', cursive !important;
    font-size: small;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.3);

    /* dont allow users to select text */
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}
/* Cursor when mouse is clicked anywhere on the page */*
body:active {
    cursor: url('../img/cursor_down.png'), pointer;
}

/* put the zui stage at z-index 0 */
svg {
    z-index: 0;
}

/* mouseover elements */
#two-2 path:hover {
    -webkit-filter: drop-shadow(2px 2px 0 yellow)
                    drop-shadow(-2px -2px 0 yellow);
    filter: drop-shadow(2px 2px 0 yellow) 
            drop-shadow(-2px -2px 0 yellow);
}


/* cursor */
#cursor-position {
    position: fixed; /* Always stays at the top-left */
    top: 10px;
    left: 10px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99; /* Ensures it's always on top */
    pointer-events: none; /* Prevents interference with clicks */
    color: white;
}

#hex-position {
    position: fixed; /* Always stays at the top-left */
    top: 40px;
    left: 10px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99; /* Ensures it's always on top */
    pointer-events: none; /* Prevents interference with clicks */
    color: yellow;
}

#sprite-count {
    position: fixed; /* Always stays at the top-left */
    top: 70px;
    left: 10px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99; /* Ensures it's always on top */
    pointer-events: none; /* Prevents interference with clicks */
    color: yellow;
}

#fps-counter {
    position: fixed;
    z-index: 99; /* Ensures it's always on top */
    top: 10px;
    right: 10px;
    color: lime;
    font-family: 'Press Start 2P', cursive !important;
    padding: 5px 10px;
    border-radius: 5px;
}

#tooltip-position {
    position: fixed; /* Always stays at the top-left */
    font-size: 14;
    top: 40px;
    left: 333px;;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99; /* Ensures it's always on top */
    pointer-events: none; /* Prevents interference with clicks */
    color: yellow;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

/* MENUS */
.menu-title {
    font-size: xx-large;
}

.menu-btn {
    cursor: url('../img/cursor.png'), pointer !important;
    font-size: medium;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1.0s ease;
    display: block;
    
}
.menu-btn:hover {
    background-color: gray !important;
}
.menu-btn:active {
    cursor: url('../img/cursor_down.png'), pointer !important;
}
/* remove this once option menu is working */
#mainmenu_options {
    cursor: url('../img/cursor_open.png'), pointer !important;
}

.menu-input {
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1.0s ease;
    background-color: transparent;
    display: block;
    cursor: url('../img/cursor.png'), text !important;    
}
.menu-input:active {
    cursor: url('../img/cursor_down.png'), pointer !important;
}

#mainMenuDiv {
    text-align: center;
    z-index: 5555 !important;
}

#mainmenu_title {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 50px #00f, 0 0 100px #00f, 0 0 150px #00f, 0 0 200px #00f;
    filter: drop-shadow(0 0 40px #00f);
    animation: glowBlue 1.0s infinite alternate;
}

#mainmenu_mapSeed {
    display: none;
    color: #fff;
}
#mainmenu_newMapSeeded2 {
    display: none;
}

#version_number {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    opacity: 0.5;
}

.btn-disabled {
    text-decoration: line-through;
    font-size: medium;
    padding: 10px 20px;
    margin: 10px auto;
    color: gray !important;
    border-radius: 0px !important;
    cursor: default !important;
    text-align: center;
    transition: none !important;
}
.btn-disabled:hover {
    background-color: transparent !important;
}


/* Fullscreen black overlay */
#fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none; /* Ensures clicks pass through */
    transition: opacity 2s ease-in-out;
    z-index: 9990;
}

#loadingDiv {
    z-index: 9993 !important;
}

.glowing-friendly {
    color: #fff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px rgba(0, 0, 255, 0.8);
    filter: drop-shadow(0 0 8px rgba(0, 0, 255, 1));
    animation: glowBlue 1.5s steps(8) infinite alternate;
    transition: all 0.3s steps(3);
}
.glowing-hostile {
    color: #fff;
    text-shadow: 0 0 10px red, 0 0 20px rgba(255, 0, 0, 0.8);
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 1));
    animation: glowRed 1.5s steps(8) infinite alternate;
    transition: all 0.3s steps(3);
}


@keyframes glowBlue {
    0% {
        text-shadow: 0px 0px 4px #ffffff, 0px 0px 10px rgba(255, 255, 255, 1);
        /* filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1)); */
    }
    100% {
        text-shadow: 0px 0px 8px #87CEEB, 0px 0px 20px rgba(0, 0, 255, 1);
        /* filter: drop-shadow(0px 0px 9px rgba(0, 0, 255, 1)); */
    }
}
@keyframes glowRed {
    0% {
        text-shadow: 0px 0px 4px red, 0px 0px 6px rgba(255, 0, 0, 0.8);
        /* filter: drop-shadow(0px 0px 3px rgba(255, 0, 0, 1)); */
    }
    100% {
        text-shadow: 0px 0px 7px red, 0px 0px 14px rgba(255, 0, 0, 1);
        /* filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)); */
    }
}
@keyframes glowYellow {
    0% {
        text-shadow: 0px 0px 4px yellow, 0px 0px 6px rgba(255, 255, 0, 0.8);
        /* filter: drop-shadow(0px 0px 3px rgba(255, 0, 0, 1)); */
    }
    100% {
        text-shadow: 0px 0px 7px yellow, 0px 0px 14px rgba(255, 255, 0, 1);
        /* filter: drop-shadow(0px 0px 7px rgba(255, 0, 0, 1)); */
    }
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../lib/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}